<div class="grid place-items-center">
  <div class="text-center max-w-2xl mx-auto px-4 mb-8 pb-8">
    <h1 class="text-3xl sm:text-4xl font-bold text-gray-900 tracking-tight">Welcome</h1>
    <p class="mt-2 text-sm text-gray-600">
      Account management web app built with Spring Boot and Angular
    </p>
  </div>
  <div class="flex space-x-4">
    <a href="/display-users" class="text-lg font-semibold text-gray-700 button">
      <div class="flex-1 p-4 bg-white rounded-md shadow hover:bg-gray-50 cursor-pointer">
        Display Users
      </div>
    </a>
    <a href="/register" class="text-lg font-semibold text-gray-700 button">
      <div class="flex-1 p-4 bg-white rounded-md shadow hover:bg-gray-50 cursor-pointer">
        Register new user
      </div>
    </a>
  </div>
</div>
